*{
    padding: 0;
    margin: 0;
}
.contenedor{
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: auto; 
    column-gap: 10px;
    row-gap: 20px; 
    grid-template-areas:
    "header header header header"
    "main main . sidebar"
    "footer footer footer footer"
    
    ;
}
.item-a{
    grid-area: header;
    background-color: aqua;
}
.item-b {
grid-area: main;
    background-color: blue;
}
.item-c {
grid-area: sidebar;
    background-color: green;
}

.item-d {
    grid-area: footer;
    background-color: gold;
}